/**
 * @version		$Id$
 * @copyright	Copyright (C) 2005 - 2011 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Start Common Styles */
* {
	font-family: helvetica, arial, sans-serif;
	font-size: 11px;
	color: #5F6565;
}

html {
	height: 100%;
	margin-bottom: 1px;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-size: 76%;
	line-height: 1.6em;
 	font-family: Helvetica,Arial,FreeSans,sans-serif;
	color: #444;
}

.error {
	margin-left: auto;
	margin-right: auto;
}

table, td, th, div, pre, blockquote, ul, ol, dl, address,.componentheading,.contentheading,.contentpagetitle,.sectiontableheader,.newsfeedheading {
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
}

#outline {
	max-width: 80.5em;
	margin: 0 auto;
	padding: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
}
#errorboxoutline {
	width: 900px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #000000;
	background: #fff;
 -webkit-box-shadow: 0 2px 3px #999;
    	-moz-box-shadow: 0 2px 3px #999;
         	box-shadow: 0 2px 3px #999;
}
#errorboxheader {
	width: 900px;
	margin: 0px;
	padding: 0px;
	background: #111;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	border-bottom: 1px solid #96d300;
}
#errorboxbody {
	margin: 0px;
	padding: 10px;
	text-align: left;
}
#techinfo {
	margin: 10px;
	padding: 10px;
	text-align: left;
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
}
#techinfo p {
	color: #CCCCCC;
}